@import "node_modules/bootstrap/scss/functions";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";
$custom-colors: (
  "brand-color": #00337f
);
$all-colors: map-merge-multiple($theme-colors, $custom-colors);

$utilities: map-merge(
    $utilities,
    (
      "background-color": map-merge(
          map-get($utilities, "background-color"),
          (
            values: map-merge(
                map-get(map-get($utilities, "background-color"), "values"),
                  (
                    $all-colors
                  ),
            ),
          ),
      ),
    )
);

/* Bootstrap import */
@import "~bootstrap/scss/bootstrap";

/* Bootstrap Icons import */
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* You can add global styles to this file, and also import other style files */
