<!-- Top navigation bar -->
<div>
  <app-navbar>
    <app-navbar-logo>
      <a class="navbar-brand" href="https://www.gwu.edu/" target="_blank">
        <img src="assets/images/logo.svg" alt="Logo" height="35">
      </a>
    </app-navbar-logo>
    <app-navbar-content>
      <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
        <li class="nav-item">
          <img src="chrome-extension://dcljhhpjkahcpcbfjkdcomnpfcfpomgp/assets/images/extension-enabled.png" hidden class="extensionCheck" (load)="this.extensionInstalled = true">
          <a class="nav-link" routerLink="/">
            Start
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [attr.aria-expanded]="!isInfoTextCollapsed" aria-controls="moreInfo"
             (click)="infoText.toggle()">
            About
          </a>
        </li>
        <ng-container *ngIf="(survey$ | async) as survey">
          <ng-container *ngIf="survey?.state !== 'completed' && survey?.state !== 'empty'">
            <li class="nav-item">
              <a class="nav-link" role="button"
                 (click)="openDialog(withdrawDialog)">
                Opt-Out
              </a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </app-navbar-content>
  </app-navbar>
  <!-- Collapsible study info text -->
  <div #infoText="ngbCollapse" [(ngbCollapse)]="isInfoTextCollapsed">
    <div class="card card-body alert-success alert-dismissible">
      <h5 class="card-title">
        <strong>Research Study:</strong> <em>Name of the Study goes here</em>
      </h5>
      <hr>
      <strong>Principle Investigator:</strong> Dr. Adam J. Aviv, The George Washington University
      <button class="btn-close" type="button" aria-expanded="false" aria-controls="moreInfo"
              (click)="infoText.toggle()">
      </button>
    </div>
  </div>
</div>

<!-- Active view of the application -->
<div class = "textarea" *ngIf="extensionInstalled">
  <router-outlet></router-outlet>
  <!-- <div>
    <div class="webcamview" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl"/>
    </div>
    <app-camera ></app-camera>
    <canvas id="meter" width="300" height="50"></canvas>
  </div> -->
</div>

<div class = "textarea" *ngIf="!extensionInstalled">
  
  <div class="px-10 py-5 my-5">
    <img class="d-block mx-auto mb-4" src="assets/images/gwusec.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-center">Survey Information</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-center">
        Prize: $50, Duration: 10 minutes
        <p class="">
        This survey is a research study conducted by the George Washington University Privacy and Security Lab (GWUSEC). In this survey, participants will be asked simple knowledge-based questions for a chance to win a $50 gift card. Each participant must complete the test alone, and without consulting outside sources. 
        <br><em>Please note: only participants who answer every question correctly will be entered into to pool to earn the reward.</em>
        <br><br> &emsp;In order to begin this survey, you must first install our <a href ="google.com">exam proctoring browser extension.</a> This extension is required to prevent participants from cheating. It will do the following to prevent cheating:
        <ul>
          <li>Close all open Chrome tabs/windows except for the survey tab</li>
          <li>Prevent new Chrome tabs/windows from being opened</li>
          <li>Monitor the participant's webcam during the testing time</li>
          <li>Monitor the participant's audio during the testing time</li>
          <li>Implement a pre-test environment scan to ensure fair test-taking environment</li>
        </ul>
        The extension can be uninstalled after the survey is complete. Once the extension has been installed, please open the <a href="chrome://extensions/">Google Chrome Extensions window</a> and activate the extension as shown below. 
        <br><em>Please note: activating the extension will immediately close all open Chrome tabs/windows except for the test-taking site.</em>
        <br><br>
        <img class="d-block mx-auto mb-4" src="assets/images/extension.png" alt="">
        &emsp;After the extension has been activated, confirm its installation by clicking the button below.<br><br>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button"  class="btn btn-primary btn-lg px-4 gap-3" (click)="check()">
          Confirm Installation
        </button>
      </div>
    </div>
  </div>
</div>

      

<!-- Modal Dialogs -->
<ng-template #withdrawDialog let-modal>
  <app-withdraw-dialog *ngIf="survey$ | async as survey" [activeModal]="modal" [survey]="survey"></app-withdraw-dialog>
</ng-template>
