<!-- Top navigation bar -->
<div>
  <app-navbar>
    <app-navbar-logo>
      <a class="navbar-brand" href="https://www.gwu.edu/" target="_blank">
        <img src="assets/images/logo.svg" alt="Logo" height="35">
      </a>
    </app-navbar-logo>
    <app-navbar-content>
      <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
        <li class="nav-item">
          <img src="chrome-extension://godfjbahhcglkdbegoanaplkpildiaji/assets/images/extension-enabled.png" hidden class="extensionCheck" (load)="this.extensionInstalled = true">
          <a class="nav-link" routerLink="/">
            Start
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [attr.aria-expanded]="!isInfoTextCollapsed" aria-controls="moreInfo"
             (click)="infoText.toggle()">
            About
          </a>
        </li>
        <ng-container *ngIf="(survey$ | async) as survey">
          <ng-container *ngIf="survey?.state !== 'completed' && survey?.state !== 'empty'">
            <li class="nav-item">
              <a class="nav-link" role="button"
                 (click)="openDialog(withdrawDialog)">
                Opt-Out
              </a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </app-navbar-content>
  </app-navbar>

  <!-- Collapsible study info text -->
  <div #infoText="ngbCollapse" [(ngbCollapse)]="isInfoTextCollapsed">
    <div class="card card-body alert-success alert-dismissible">
      <h5 class="card-title">
        <strong>Research Study:</strong> <em>Name of the Study goes here</em>
      </h5>
      <hr>
      <strong>Principle Investigator:</strong> Dr. Adam J. Aviv, The George Washington University
      <button class="btn-close" type="button" aria-expanded="false" aria-controls="moreInfo"
              (click)="infoText.toggle()">
      </button>
    </div>
  </div>
</div>

<!-- Active view of the application -->
<div class = "textarea" *ngIf="extensionInstalled">
  <canvas id="meter" width="300" height="50"></canvas>
  <router-outlet></router-outlet>
</div>


<div class = "textarea" *ngIf="!extensionInstalled">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/images/gwusec.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Please Install Extension</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        The test-proctoring extension is not installed. Please click the button below once it has been installed.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button"  class="btn btn-primary btn-lg px-4 gap-3" (click)="check()">
          Confirm Installation
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Webcam -->
<!-- <div class = "webcamview">
  <app-camera></app-camera>
  <canvas #meter width="300" height="50"></canvas>
</div> -->

<!-- Modal Dialogs -->
<ng-template #withdrawDialog let-modal>
  <app-withdraw-dialog *ngIf="survey$ | async as survey" [activeModal]="modal" [survey]="survey"></app-withdraw-dialog>
</ng-template>
