<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-light">Page not found</h1>
      <p class="col-md-8 fs-4 lead text-muted">
        Something went wrong. The requested page does not exist.
        Please try to go back to the previous page or start from the beginning.
      </p>
      <p>
        <a class="btn btn-secondary my-2" (click)="back()">Back</a>
        &nbsp;
        <a class="btn btn-primary my-2" routerLink="/">Start Page</a>
      </p>
    </div>
  </div>
</div>
